header{
  width:600px;
  height:100px;
  background: blue;
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

 }
 footer{
  width: 600px;
  height: 100px;
  background: blueviolet;
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
 }
 main{
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 10px;
 }

 aside.lefta{
  width: 145px;
  height: 400px;
  color: rgb(27, 198, 164);
  /* border: 2px solid black; */
  background: orangered;
  float: left;
  /* margin-right: 10px; */
  margin-right: 10px;
 }
 .righta{
  width: 145px ;
  height: 400px;
  /* border: 2px solid black; */
  float: left;
  background: orangered;
  margin-left: 10px;
 }
 section{
  width: 288px;
  height: 400px;
  color: hotpink;
  background: fuchsia;
  /* border: 2px solid black; */
  float: left;
 
 }